.ysnr-pagination {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .mat-paginator-outer-container {
        height: 100% !important;

        .mat-paginator-container {
            min-height: 100% !important;
            height: 100% !important;
        }
    }
}
