.mandatory {
  color: red !important;
}

// hint
.mat-hint {
  font-size: 11px !important;
}

.info {
  background-color: #2f96b4;
}

.success {
  background-color: #51a351;
}

.danger {
  background-color: #bd362f;
}

.warning {
  background-color: #f89406;
}
